<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.FormsPlugin.Iconize" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.EntypoPlus" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.FontAwesome" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Ionicons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Material" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Meteocons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.SimpleLineIcons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Typicons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.WeatherIcons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.270" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.2.9" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.2.9" targetFramework="xamarinios10" />
</packages>